.box_container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

.img {
  width: 380px;
  height: 380px;
  border-radius: 10px;
}

.title {
  font-size: 18px;
  font-weight: 700;
  color: #222;
}

.author {
  font-size: 12px;
  font-weight: 400;
  color: #222;
}
